<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HOME PAGE</title>
    </head>
    <body>
        <p>Hello NodeJS</p>
        <a href="/login">
            <button type="button" name="button">Login</button>
        </a>
    </body>
</html>