<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LOGIN</title>
    </head>
    <body>
        <form class="" action="/login" method="post">
            <input type="text" name="username" placeholder="Enter username" autocomplete="off"/>
            <input type="password" name="password" placeholder="Enter password" autocomplete="off"/>
            <button type="submit">Login</button>
        </form>
    </body>
</html>